/* Google fonts for later
 * font-family: 'Roboto Slab', serif;
 * font-family: 'Open Sans', sans-serif;*/
 *{
  box-sizing: border-box;
 }
body {
  margin: 0;
}
header {
  background-color: #E5F3F2;
  font-size: 32px;
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
h1{
  margin: 0;
}
.box {
  color: #6D6E71;
}
form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  font-size: 24px;
  width: 55%;
  margin: 1%;
  border: 2px solid #939598;
  padding: 8px;
  height: 41px;
}
::placeholder{
  color: #939598;
}
.title{
  margin-top:30px;
}

.save-input {
  font-size: 24px;
  background-color: #00A79D;
  color: #FFFFFF;
  width: 55.25%;
  margin-bottom: 30px;
  margin-top:10px;
  height: 47px;
  border: none;
}
.save-input:hover {
  background-color: #045E55;
}
.search{
  margin-top: 30px;
  margin-bottom: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  border-bottom: 1px solid #D1D3D4;
  width: 55%;
}
.idea-card{
  height: 179px;
  width: 100%;
}
h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
}
h4{
  text-transform: lowercase;
}
p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;

}
.upvote, .downvote {
  float: left;
  margin-right: 5%;
}
.delete{
  background: url(images/delete.svg) no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  float: right;
  position: relative;
  bottom: 53px;
}
.delete:hover{
  background: url(images/delete-hover.svg) no-repeat;
}
.upvote{
  background: url(images/upvote.svg) no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
}
.upvote:hover{
  background: url(images/upvote-hover.svg) no-repeat;
 }
.downvote{
  background: url(images/downvote.svg) no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
}
.downvote:hover{
  background: url(images/downvote-hover.svg) no-repeat;
}
h4 {
  color: #6D6E71;
  float: left;
  margin: 0;
  font-size: 20px;
}
